html,body{
    margin: 0;
    padding: 0;
}

.resp{
    height: 50%;
    width: 15%;
}
@media (max-width : 600px) {
    .resp{
        overflow: visible;
    }
}

a{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
a:hover
{
    color: yellowgreen;
}

.navbar{
    background: white;
    z-index: 100;
    width: auto;
    display: flex;
    justify-content: space-between; 
    padding: 0px 10px 0px 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    align-items: center;
 position: sticky;
}

.list_nav{
    display: flex;  
    list-style: none;
    gap: 10px;
}

.list_container{
    display: flex;
    justify-content: space-between;
}

.container_aside{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 30vw;
    background-color: rgba(0,0,0,.2);
    height: 100vh;
}

.main_title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-transform: uppercase;
}

.post_container{
    width:68vw ;

}


.post{
width: 70vw;
}

.post_title{
    padding-left: 10%;
}

.postPageContainer{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

.postData{
    text-align: center;
}

.imgContainer{
    display: flex;
    justify-content: center;
}

.anchorReadMore{
    padding-left: 30px;
}

.index_post_data{
    width: 90%;
    padding: 10px;
}

.footer{
    position: relative;
 width: 100%;
 height: 150px;
    z-index: 100;
    background-color: white;
    box-shadow: 2px 0 0 4px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media  (max-width: 600px) {
   .ulFoot{
    flex-direction: column;
   }
   .asideContainer{
    height: 10%;
   }
  }

  .btn{
    margin-bottom: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 4px;
  }

  .asideContainer{
    position: sticky;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    height: 30%;
  }